    <header>
        <div class="navrbar navbar-primary bg-dark shadow-sm ">
            <div class="nav-brand align-item-center d-flex">
                <div class="shop">
                <i style="font-size: 40px; color: white;" class="fas fa-shipping-fast" >&nbsp;</i>
                <strong class="sk-shop">Seck Shop</strong>
                
                </div>
            <div class="research">
                    
                        <input type="search" placeholder="Search here ...">
                        <i class="fa fa-search"></i>
                
                </div>

                <div class="card">
                    <button class="btn btn-dark">
                        <i style="font-size: 30px;" class="fas  fa-cart-plus"></i>
                        <div style="font-size: 10px;" class="badge bg-danger">0</div>
                    </button>
                </div>
                

            </div>
        </div>
        
    </header>