<div class="card-top container-fluid">
    <div class="container-d-flex">
        <div  class="item">
             <a >
                 <img src="../../assets/images/mtr.jpeg" alt="products">
                <h6>All Products</h6> 
            </a>
        </div>
        <div class="item">
            <a >
                <img  src="../../assets/images/mtr.jpeg" alt="products">
                 <h6>Fashion</h6>
            </a>
       </div>
       <div class="item">
        <a >
            <img src="../../assets/images/serv.jpeg" alt="products">
            <h6>Electonics</h6>
        </a>
   </div>
   <div class="item">
    <a >
        <img src="../../assets/images/mtr.jpeg" alt="products">
        <h6>Bijouteries</h6>
</a>
</div> 
        
    </div>
</div>
<!-- <app-product-list></app-product-list> -->